  <meta property='og:url' content='{{ .Permalink }}'>
{{- if .IsHome }}
  <meta property='og:type' content='{{ $.Site.Params.og.hometype | default "website" }}'>
  <meta property='og:title' content='{{ $.Site.Title }}'>
  <meta property='og:description' content='{{ $.Site.Params.description }}'>
  <meta property='og:image' content='{{ .Site.Params.basethumb | absLangURL}}'>
  <meta name='twitter:title' content='{{ $.Site.Title }}'/>
  <meta name='twitter:description' content='{{ $.Site.Params.description }}'/>
{{- else }}
  <meta property='og:type' content='{{ $.Site.Params.og.posttype | default "article"}}'>
  <meta property='og:title' content='{{ $.Params.Title }} | {{ $.Site.Title }}'>
  <meta property='og:description' content='{{ $.Params.description }}'>
  {{- if .Params.thumbimg }}
  <meta property='og:image' content='{{ .Params.thumbimg | absLangURL }}'>
  {{- else }}
  <meta property='og:image' content='{{ .Site.Params.basethumb | absLangURL }}'>
  {{end }}
  <meta name='twitter:title' content='{{ $.Params.Title }} | {{ $.Site.Title }}'/>
  <meta name='twitter:description' content='{{ $.Params.description }}'/>
 {{- end }}
  <meta name='twitter:card' content='{{ $.Site.Params.og.twittercard | default "summary" }}'/>
  <meta name='twitter:site' content='{{ $.Site.Params.Author.twitter }}'/>
  <meta name='twitter:creator' content='{{ $.Site.Params.Author.twitter }}'/>